.wrap {
  width: 100%;
  display: flex;
}
.left {
  width: 160vh;
  height: 92vh;
  overflow-y: auto;
  padding: 3vmax 10vmax;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2vmax;
  position: relative;
}
.drop_trigger {
  cursor: pointer;
}
.drop_down {
  position: absolute;
  border-radius: 5px;
  right: -9.2%;
  top: 2.5vmax;
  padding: 1.5vh 1.5vh;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
  background-color: white;
}
.drop_down h6{
  font-size: 1.3vmax;
  font-weight: 300;
  color: rgb(103, 103, 103);
}

.small_nav {
  padding-bottom: 1vmax;
  border-bottom: 1px solid #e4e4e4;
}
.row {
  width: 10vmax;
  display: flex;
  gap: 2vmax;
}
.lists_card_cnt {
  padding: 2vmax 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: sans-serif;
  border-top: 1px solid #e4e4e4;
}
.card_time {
  font-size: 1.3vmax;
  font-weight: 300;
  color: rgb(103, 103, 103);
}
.lists_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vmax 0;
  gap: 1vmax;
}
.lists_card h1{
  font-size: 2.5vmax;
  font-weight: 800;
}
.share_buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comment {
  display: flex;
  gap: 1vmax;
}
.likes{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .2vmax;
}
.likes span{
  font-size: 1.2vmax;
  font-weight: 300;
  color: rgb(103, 103, 103);
}
.buttons {
  display: flex;
  gap: 1vmax;
  color: grey;
}
.prvImages {
  width: 21vmax;
  display: flex;
  gap: 0.5vmax;
}
.prvImages > img {
  border-radius: 10px;
  height: 100%;
}
.smImg {
  object-fit: cover;
  width: 24%;
}

/*  ---------------------------------------------- RIGHT SECTION ------------------------------------------------------------*/
.right {
  width: 30vmax;
  height: 90vh;
  padding: 4vh 3vmax;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 2.5vh;
  border-left: 1px solid rgb(219, 219, 219);
}

.avatar {
  width: 7vmax;
  height: 7vmax;
  margin: left;
}
.avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.by_who {
  display: flex;
  align-items: center;
  height: 3vw;
  font-size: 2vmax;
}
.by_who > img {
  height: 3vmax;
  margin-right: 0.5vmax;
  border-radius: 100%;
}
.followbtn,.unfollowbtn{
  background-color: #ffc017;
  border: none;
  border-radius: 50px;
  padding: 0.5vmax 1vmax;
  font-size: 1.2vmax;
  font-weight: 500;
  cursor: pointer;
}
.unfollowbtn{
  background-color: #e4e4e4;
  color: black;
}
/*  ---------------------------------------------- RESPONSIVE SECTION ------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  .right{
    display: none;
  }
  .left{
    width: 100%;
    padding: 3vmax 5vmax;
  }
  .left h1{
    font-size: 2.5vmax;
  }
}