.wrapper {
  padding-top: 1vh;
  display: flex;
  justify-content: center;
  gap: 8vmax;
}
.categories_links {
  width: 30%;
}
.articles {
  max-height: 84.5vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  /* justify-content: center; */
  overflow-y: scroll;
  max-width: inherit;
  gap: 2vmax;
}
.articles::-webkit-scrollbar {
  background-color: rgb(255, 248, 248);
  width: 5px;
}
.articles::-webkit-scrollbar-thumb {
  background-color: white;
}
.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1vw;
}

.by_who {
  display: flex;
  align-items: center;
}

.by_who > img {
  width: 3vmax;
  margin-right: 0.5vmax;
  border-radius: 100%;
}
.content {
  width: 48vmax;
  /* background-color: red; */
}
.content > h1 {
  font-size: 1.5vmax;
  padding: 1vh 0;
}
.content img {
  width: 50%;
  object-fit: cover;
  padding: 1vh 0;
  float: right;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  padding: 1.2vh 3vmax 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vmax;
  white-space: nowrap;
}

hr {
  height: 1px;
  background-color: #e6e6e6;
  border: none;
  margin: 0;
}

.options > h5 {
  width: fit-content;
  color: rgb(128, 127, 127);
}

.options {
  display: flex;
  padding: 3vh 0;
  max-width: 26vmax;
  flex-wrap: wrap;
  gap: 1vmax;
  justify-content: flex-start;
}
/* .post_potser{

    background-color: yellow;
} */
.lef::-webkit-scrollbar {
  background-color: #ffffff;
  width: 10px;
}
.lef::-webkit-scrollbar-thumb {
  background-color: rgb(212, 212, 212);
}
.content2 p {
  display: none;
}
.content2 code {
  display: none;
}
@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 0;
  }
  .categories_links {
    width: 90%;
    align-self: center;
  }
  .links {
    max-width: 100%;
    justify-content: unset;
  }
  .articles {
    width: 100%;
    max-height: 100%;
    align-items: center;
  }
  .article {
    width: 90%;
  }
  .content {
    width: 100%;
  }
}
