.trending {
  padding: 3.5vw 8vw;
  /* background-color: orange; */
}
.title {
  display: flex;
  align-items: center;
  width: 15vmax;
  justify-content: space-around;
  padding: 1.5vw 0;
  /* background-color: red; */
}
.trending_cards {
  /* background-color: royalblue; */
  display: flex;
  gap: 3vw;
  flex-wrap: wrap;
}
.card {
  max-width: 24vmax;
  /* background-color: purple; */
  display: flex;
  justify-content: space-between;
}
.card > h6 {
  font-size: 1.4vmax;
  opacity: 0.9;
  color: grey;
}
.dp {
  display: flex;
  align-items: center;
}
.dp>img{
    height: 1.8vmax;
    border-radius: 50%;
    margin-right: 0.5vw;
}
.rig{
    margin-left: 0.7vw;
}
.rig > h4 {
  padding: 0.6vmax 0;
  font-size: 1.3vmax;
}
.rig > h5 {
  margin-top: -0.3vw;
  font-size: 1.2vmax;
}
