.wrap {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}

.left {
  width: 60vmax;
  display: flex;
  justify-content: center;
  height: 89.5vh;
  padding-top: 4vh;
}

.right {
  width: 30vmax;
  height: 89.5vh;
  overflow-y: scroll;
  padding: 1vh 1vmax;
}

.topBar {
  width: 50%;
  padding: 1vmax 0 1.5vmax 0;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(175, 175, 175);
  display: flex;
  align-items: center;
  gap: 1.5vmax;
  top: 7%;
  position: fixed;
}

.articles {
  margin-top: 1.5vh;
  margin-left: -7vw;
}
@media screen and (max-width: 768px) {
  .topBar{
    width: 90%;
  }
  .left{
    padding-top: 5vh;
  }
  .right{
   display: none;
  }
}