.header {
  display: flex;
  justify-content: space-between;
  background-color: #ffc017;
  padding: 6vw 8vw;
  height: 33vw;
  margin-top: -2.2vw;
}
.lefty > h1 {
  font-size: 6vw;
  margin-bottom: 1.5vw;
}
.lefty > h4 {
  font-size: 1.6vw;
  width: 30vw;
  margin-bottom: 2.5vw;
  font-family: sans-serif;
  font-weight: 500;
}
.animations_text {
  font-family: sans-serif;
  font-size: 22px;
  height: 100%;
  position: relative;
  width: 45%;
}
