* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
}
.curvy_box {
  font-size: 1vmax;
  padding: 0.7vmax 1.3vmax;
  background-color: rgb(19, 18, 18);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  font-weight: 300;
}
.cp {
  cursor: pointer;
}
.curvy_box h5 {
  font-size: 1.5vmax;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: comein 0.2s ease-in;
}
@keyframes comein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card {
  width: 50%;
  background-color: #fff;
  border-radius: 22px;
  padding: 1.5vmax;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card input {
  width: 100%;
  padding: 0.5vmax 1vmax;
  border: 1px solid #ccc;
  border-radius: 22px;
  margin: 0.5vmax 0;
  font-size: 1.5vmax;
}
.btn-cnt {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn-cnt2 {
  margin: 0 auto;
  align-self: center;
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.submit-btn {
  font-size: 1.5vmax;
  width: 100%;
  padding: 0.5vmax;
  border: 1px solid #ccc;
  border-radius: 22px;
  margin: 0.5vmax 0;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  margin: 0 0.5vmax;
}
.singlestory-cnt {
  width: 70%;
  margin: 0 auto;
}

.whatsapp:hover {
  color: green;
}
.share:hover {
  color: blue;
}
.delete:hover {
  color: red;
}
.loader {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20%;
  top: 30%;
}
.load {
  position: absolute;
  content: "";
  margin-right: 1em;
  height: 1.2em;
  width: 1.2em;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
}

.load2 {
  animation: 1s flow2 infinite;
}
.load3 {
  animation: 1s flow3 infinite;
}
.load4 {
  animation: 1s flow4 infinite;
}
.load5 {
  animation: 1s flow5 infinite;
}

.load6 {
  animation: 6s flow6 infinite;
}

.load7 {
  animation: 6s flow7 infinite;
}

.load8 {
  animation: 6s flow8 infinite;
}

.load9 {
  animation: 6s flow9 infinite;
}
.dele {
  animation-delay: 1s;
}
.dele2 {
  animation-delay: 2s;
}
@keyframes flow2 {
  50% {
    transform: translateX(3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: translateX(0em);
  }
}

@keyframes flow3 {
  50% {
    transform: translateX(-3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }

  100% {
    transform: translateX(0em);
  }
}

@keyframes flow4 {
  50% {
    transform: translateY(3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }

  100% {
    transform: translateY(0em);
  }
}

@keyframes flow5 {
  50% {
    transform: translateY(-3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }

  100% {
    transform: translateY(0em);
  }
}

@keyframes flow6 {
  30% {
    transform: translateX(3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }

  60% {
    transform: translateX(3em) translateY(-3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }

  100% {
    transform: translateX(0em) translateY(0em);
  }
}

@keyframes flow7 {
  30% {
    transform: translateX(-3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }

  60% {
    transform: translateX(-3em) translateY(3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }

  100% {
    transform: translateX(0em) translateY(0em);
  }
}

@keyframes flow8 {
  30% {
    transform: translateY(3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }

  60% {
    transform: translateY(3em) translateX(3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }

  100% {
    transform: translateX(0em) translateY(0em);
  }
}

@keyframes flow9 {
  30% {
    transform: translateY(-3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }

  60% {
    transform: translateY(-3em) translateX(-3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }

  100% {
    transform: translateX(0em) translateY(0em);
  }
}
@media screen and (max-width: 768px) {
  .loader {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20%;
    top: 50%;
  }
  .load {
    height: .4em;
    width: .4em;
  }
  @keyframes flow2 {
    50% {
      transform: translateX(1em);
      box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
    }
    100% {
      transform: translateX(0em);
    }
  }
  @keyframes flow3 {
    50% {
      transform: translateX(-1em);
      box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
    }
  
    100% {
      transform: translateX(0em);
    }
  }
  @keyframes flow4 {
    50% {
      transform: translateY(1em);
      box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
    }
  
    100% {
      transform: translateY(0em);
    }
  }
  @keyframes flow5 {
    50% {
      transform: translateY(-1em);
      box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
    }
  
    100% {
      transform: translateY(0em);
    }
  }
  @keyframes flow6 {
    30% {
      transform: translateX(1em);
      box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
    }
  
    60% {
      transform: translateX(1em) translateY(-1em);
      box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
    }
  
    100% {
      transform: translateX(0em) translateY(0em);
    }
  }
  @keyframes flow7 {
    30% {
      transform: translateX(-1em);
      box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
    }
  
    60% {
      transform: translateX(-1em) translateY(1em);
      box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
    }
  
    100% {
      transform: translateX(0em) translateY(0em);
    }
  }
  @keyframes flow8 {
    30% {
      transform: translateY(1em);
      box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
    }
  
    60% {
      transform: translateY(1em) translateX(1em);
      box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
    }
  
    100% {
      transform: translateX(0em) translateY(0em);
    }
  }
  @keyframes flow9 {
    30% {
      transform: translateY(-1em);
      box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
    }
  
    60% {
      transform: translateY(-1em) translateX(-1em);
      box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
    }
  
    100% {
      transform: translateX(0em) translateY(0em);
    }
  }

}
